/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* This ensures the header is styled */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white; /* Background color of the header */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  z-index: 50; /* Ensure it stays above other elements */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
